<%= form_for @tier, :as => "tier" do |f| %>
  <% if @tier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tier.errors.count, "error") %> prohibited this tier from being saved:</h2>

      <ul>
      <% @tier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br />
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :ville %><br />
    <%= f.text_field :ville %>
  </div>
  <div class="field">
    <%= f.label :cp %><br />
    <%= f.text_field :cp %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :iban %><br />
    <%= f.text_field :iban %>
  </div>
  <div class="field">
    <%= f.label :bic %><br />
    <%= f.text_field :bic %>
  </div>

  <!-- création de la catégorie comptable correspondant au tier directement --!>
  <% f.fields_for :categorie_comptables do |c| %>
    <p>
<!--    <div class="field">--!>
      <%= c.label :nom, 'Categorie comptable:' %><br/>
      <%= c.text_field :nom %>
   <!-- </div>--!>
<!--    <div class="field">--!>
      <%= c.label :numero, 'CategorieComptable' %><br/>
      <%= c.text_field :numero %>
<!--    </div>--!>
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
