<h1>Liste des Comptes Bancaires</h1>

<table>
  <tr>
    <th>Banque</th>
    <th>Nom</th>
    <th>Iban</th>
    <th>Bic</th>
    <th>Propriétaire</th>
    <th>Voir</th>
    <th>Editer</th>
    <th>Supprimer</th>
  </tr>

<% @compte_bancaires.each do |compte_bancaire| %>
  <tr>
    <td><%= compte_bancaire.banque %></td>
    <td><%= link_to compte_bancaire.nom, compte_bancaire_journals_path(compte_bancaire) %></td>
    <td><%= compte_bancaire.iban %></td>
    <td><%= compte_bancaire.bic %></td>
    <td><%= compte_bancaire.proprietaire %></td>
    <td><%= link_to image_tag("icons/document.png"), compte_bancaire %></td>
    <td><%= link_to image_tag("icons/write.png"), edit_compte_bancaire_path(compte_bancaire) %></td>
    <td><%= link_to image_tag("icons/delete.png"), compte_bancaire, confirm: 'Es-tu sûr ?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("icons/add.png"), new_compte_bancaire_path %>