<h1>Detail de la categorie analytique</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @categorie_analytique.nom %>
</p>

<p>
  <b>Annee:</b>
  <%= @categorie_analytique.annee %>
</p>


<%= link_to 'Edit', edit_categorie_analytique_path(@categorie_analytique) %> |
<%= link_to 'Back', categorie_analytiques_path %>
