<h1>Detail de la facture <%= params[:type].downcase %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Montant ht:</b>
  <%= @facture.montant_ht %>
</p>

<p>
  <b>Montant ttc:</b>
  <%= @facture.montant_ttc %>
</p>

<p>
  <b>Tva:</b>
  <%= @facture.tva %>
</p>

<p>
  <b>Date:</b>
  <%= @facture.date %>
</p>

<p>
  <b>Reference:</b>
  <%= @facture.reference %>
</p>

<p>
  <b>Libelle:</b>
  <%= @facture.libelle %>
</p>

<p>
  <b><%= params[:type] %>:</b>
  <%= link_to @facture.tier.nom, @facture.tier %>
</p>

<p>
  <b>Categorie Analytique:</b>
  <%= link_to @facture.categorie_analytique.nom_annee, @facture.categorie_analytique %>
</p>

<p>
  <b>Categorie Comptable: </b>
  <%= link_to @facture.categorie_comptable.numero_nom, @facture.categorie_comptable %>
</p>

<%= link_to 'Edit', {:controller => params[:controller], :action => :edit, :id => @facture.id } %> |
<%= link_to 'Back', {:controller => params[:controller], :action => :index } %>
