<%= form_for [@compte_bancaire,@journal], :as => :journal do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>

  <div class="select">
	<%= f.label :type %><br/>
	<%= f.select(:type, [["HA","HA"],["VENTE","VENTE"],["BANQUE","BANQUE"],["OD","OD"]]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
