<!DOCTYPE html>
<html>
<head>
  <title>Comptassoce</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table><tr><th><%= link_to "Accueil", root_path%></th><th><%= link_to "Liste des Comptes Bancaires", compte_bancaires_path%></th>
<th><%= link_to "Factures fournisseur", facture_recues_path%></th>
<th><%= link_to "Factures client", facture_emises_path%></th>
<th><%= link_to "Fournisseurs", fournisseurs_path%></th>
<th><%= link_to "Clients", clients_path%></th>
<th><%= link_to "Categories Analytiques", categorie_analytiques_path%></th>
<th><%= link_to "Categories Comptables", categorie_comptables_path%></th>
</tr></table>
<p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
