<!DOCTYPE html>
<html>
<head>
  <title>Comptassoce</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table><tr><th><%= link_to "Accueil", root_path%></th><th><%= link_to "Liste des Comptes Bancaires", compte_bancaires_path%></th></tr></table>
<%= yield %>

</body>
</html>
